In [1]:
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
from helper_functions import load_dataset, save_dataset

### Loading the dataset

In [2]:
data = load_dataset("../data/assignment2_income_levels.xlsx")

[Errno 2] No such file or directory: '../data/assignment2_income_levels.xlsx'
Error: Unable to load dataset

In [3]:
data['ability to speak english'] = data['ability to speak english'].fillna(0)

TypeError: 'NoneType' object is not subscriptable

In [ ]:
data['gave birth this year'] = data['gave birth this year'].fillna('No')

In [ ]:
data['age'] = data['age'].astype('int8') # in our dataset: min age is 17 and max age is 93
data['education'] = data['education'].astype('int8') # in our dataset: min education is 1 and max education is 24
data['workinghours'] = data['workinghours'].astype('int8') # in our dataset: min working hours is 1 and max working hours is 99
data['ability to speak english'] = data['ability to speak english'].astype('int8') # in our dataset: min number of 'ability to speak english' is 0 and max ability to speak english is 4

### Binning columns: 'age', 'workinghours', 'education'

In [ ]:
data['age_bin'] = pd.cut(data['age'], bins=[0,28,38,49,65,93], labels=['(17-28]', '(28-38]', '(38-49]', '(49-65]', '(65-93]'])

In [ ]:
data['workinghours_bin'] = pd.cut(data['workinghours'], bins=[0, 30, 40, 99], labels=['Part-time', 'Full-time', 'Overtime'])

In [ ]:
data['education_bin'] = pd.cut(data['education'], bins=[0, 3, 12, 20, 24], labels=['Less than basic', 'Basic', 'Intermediate', 'Advanced'])

### Final step

In [ ]:
data = data.drop(columns=['age', 'workinghours', 'education']) # we drop the original columns

In [ ]:
data

### Writing the cleaned dataset to a new file

In [ ]:
# write cleaned dataset to new file
save_dataset(data, "../data/assignment2_income_levels_cleaned.xlsx")