In [4]:
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
from helper_functions import load_dataset, save_dataset

### Loading the dataset

In [5]:
data = load_dataset("../data/assignment2_income.xlsx")

In [6]:
data['ability to speak english'] = data['ability to speak english'].fillna(0)

In [7]:
data['gave birth this year'] = data['gave birth this year'].fillna('No')

In [8]:
data['age'] = data['age'].astype('int8') # in our dataset: min age is 17 and max age is 93
data['education'] = data['education'].astype('int8') # in our dataset: min education is 1 and max education is 24
data['workinghours'] = data['workinghours'].astype('int8') # in our dataset: min working hours is 1 and max working hours is 99
data['ability to speak english'] = data['ability to speak english'].astype('int8') # in our dataset: min number of 'ability to speak english' is 0 and max ability to speak english is 4

### Binning columns: 'age', 'workinghours', 'education'

In [9]:
data['age_bin'] = pd.cut(data['age'], bins=[0,28,38,49,65,93], labels=['(17-28]', '(28-38]', '(38-49]', '(49-65]', '(65-93]'])

In [10]:
data['workinghours_bin'] = pd.cut(data['workinghours'], bins=[0, 30, 40, 99], labels=['Part-time', 'Full-time', 'Overtime'])

In [11]:
data['education_bin'] = pd.cut(data['education'], bins=[0, 3, 12, 20, 24], labels=['Less than basic', 'Basic', 'Intermediate', 'Advanced'])

### Final step

In [12]:
data = data.drop(columns=['age', 'workinghours', 'education']) # we drop the original columns

In [13]:
data

,workclass,marital status,occupation,sex,ability to speak english,gave birth this year,income,age_bin,workinghours_bin,education_bin
0,self employed,Widowed,Transport,Male,0,No,high,(49-65],Overtime,Intermediate
1,private,Divorced,Healthcare/Medical Services,Female,0,No,low,(49-65],Part-time,Intermediate
2,private,Divorced,Management/Business,Male,0,No,low,(49-65],Full-time,Advanced
3,private,Husband,Transport,Male,0,No,low,(49-65],Full-time,Intermediate
4,private,Husband,Transport,Male,0,No,low,(28-38],Full-time,Intermediate
...,...,...,...,...,...,...,...,...,...,...
8995,private,Never married,Education,Female,0,No,low,(17-28],Full-time,Intermediate
8996,governmental,Wife,Education,Female,0,No,high,(49-65],Full-time,Advanced
8997,governmental,Wife,Healthcare/Medical Services,Female,0,No,high,(28-38],Overtime,Advanced
8998,private,Husband,Management/Business,Male,0,No,low,(49-65],Full-time,Intermediate
8999,private,Wife,Sales,Female,0,No,low,(49-65],Part-time,Intermediate

### Writing the cleaned dataset to a new file

In [14]:
# write cleaned dataset to new file
save_dataset(data, "../data/assignment2_income_cleaned.xlsx")