In [141]:
from typing import List, Tuple
from helper.helper_functions import load_dataset, save_model, get_features_and_target, encode_nominal_features
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif

In [142]:
data = load_dataset('../data/assignment2_income_cleaned.xlsx')

In [143]:
# Splitting the data into features (X) and target (y)
X, y = get_features_and_target(data, target_column='income')

columns_to_use = ['age', 'workclass', 'education', 'marital status', 'occupation', 'workinghours', 'sex', 'ability to speak english', 'gave birth this year']

- **Categorical features**:
    - **nominal features**:
        'workclass', 'marital status', 'occupation', 'sex', and 'gave birth this year'
    - **ordinal features**:
        'education', 'ability to speak English'
- **Continuous features**:
    'age', 'workinghours'

### a
Point-biserial correlation is a special case of Pearson correlation coefficient used when one variable is continuous and the other is dichotomous (binary).

https://en.wikipedia.org/wiki/Point-biserial_correlation_coefficient
https://resources.nu.edu/statsresources/Pointbiserial

In [144]:
from scipy.stats import shapiro, kstest

continuous_features = ['age', 'workinghours']

for feature in continuous_features:
    # Shapiro-Wilk Test
    shapiro_stat, shapiro_p_value = shapiro(data[feature])
    print(f"Shapiro-Wilk Test ({feature}) - Statistic: {shapiro_stat}, P-value: {shapiro_p_value:.10f}")

    # Kolmogorov-Smirnov Test
    ks_stat, ks_p_value = kstest(data[feature], 'norm')
    print(f"Kolmogorov-Smirnov Test ({feature}) - Statistic: {ks_stat}, P-value: {ks_p_value:.10f}")

Shapiro-Wilk Test (age) - Statistic: 0.974037822220245, P-value: 0.0000000000
Kolmogorov-Smirnov Test (age) - Statistic: 1.0, P-value: 0.0000000000
Shapiro-Wilk Test (workinghours) - Statistic: 0.8889242919715895, P-value: 0.0000000000
Kolmogorov-Smirnov Test (workinghours) - Statistic: 0.9946501019683699, P-value: 0.0000000000

F:\PyCharmProjects\DataMining\.venv\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: UserWarning: scipy.stats.shapiro: For N > 5000, computed p-value may not be accurate. Current N is 9000.
  res = hypotest_fun_out(*samples, **kwds)

In [145]:
from scipy.stats import pointbiserialr

binary_class_feature = 'income'
data[binary_class_feature] = data['income'].map({'low': 0, 'high': 1})

for feature in continuous_features:
    point_biserial_corr, p_value = pointbiserialr(data[feature], data[binary_class_feature])
    print(f"Point-Biserial Correlation Coefficient for '{feature}': {point_biserial_corr:.3f}, P-value: {p_value:.6f}")

Point-Biserial Correlation Coefficient for 'age': 0.280, P-value: 0.000000
Point-Biserial Correlation Coefficient for 'workinghours': 0.295, P-value: 0.000000

In [146]:
from scipy.stats import spearmanr, kendalltau

# Calculate Spearman's rank correlation coefficient for each continuous feature
print("Spearman's Rank Correlation Coefficients:")
for feature in continuous_features:
    spearman_corr, spearman_p_value = spearmanr(data[feature], data[binary_class_feature])
    print(f"   {feature}: {spearman_corr:.3f} (p-value: {spearman_p_value:.3f})")

# Calculate Kendall's tau correlation coefficient for each continuous feature
print("\nKendall's Tau Correlation Coefficients:")
for feature in continuous_features:
    kendall_tau_corr, kendall_tau_p_value = kendalltau(data[feature], data[binary_class_feature])
    print(f"   {feature}: {kendall_tau_corr:.3f} (p-value: {kendall_tau_p_value:.3f})")

Spearman's Rank Correlation Coefficients:
   age: 0.284 (p-value: 0.000)
   workinghours: 0.328 (p-value: 0.000)

Kendall's Tau Correlation Coefficients:
   age: 0.234 (p-value: 0.000)
   workinghours: 0.290 (p-value: 0.000)

### b

In [147]:
# List of nominal features
nominal_features_lc = ['workclass', 'sex', 'marital status', 'gave birth this year'] # low cardinality features
nominal_features_hc = ['occupation'] # high cardinality features

X_encoded = encode_nominal_features(X, nominal_features_lc, nominal_features_hc)
y_encoded = y.map({'low': 0, 'high': 1})

F:\PyCharmProjects\DataMining\.venv\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [148]:
X_encoded

,age,education,workinghours,ability to speak english,occupation_encoded,workclass_governmental,workclass_no paid work,workclass_private,workclass_self employed,sex_Female,sex_Male,marital status_Divorced,marital status_Husband,marital status_Never married,marital status_Separated,marital status_Widowed,marital status_Wife,gave birth this year_No,gave birth this year_Yes
0,52,16,50,0,17,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,60,20,30,0,6,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,64,21,40,0,8,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,64,17,40,0,17,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,31,15,40,0,17,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,28,16,40,0,2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8996,61,24,40,0,2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
8997,34,23,50,0,6,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
8998,60,19,40,0,8,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8999,50,20,30,0,14,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [149]:
from sklearn.feature_selection import SelectPercentile, chi2

# Feature selection using SelectPercentile with chi-squared test
percentile_selector = SelectPercentile(score_func=chi2, percentile=10)
X_selected = percentile_selector.fit_transform(X_encoded, y)

selected_feature_indices = percentile_selector.get_support(indices=True)

feature_importance_scores = percentile_selector.scores_

feature_importance_df = pd.DataFrame({'Feature': X_encoded.columns, 'Importance': feature_importance_scores})

In [150]:
feature_importance_df

                         Feature   Importance
0                            age  3783.249409
1                      education   424.146521
2                   workinghours  3098.182416
3       ability to speak english    31.502407
4             occupation_encoded   146.337835
5         workclass_governmental    62.348295
6         workclass_no paid work     3.282243
7              workclass_private    17.983133
8        workclass_self employed     3.606871
9                     sex_Female   253.022927
10                      sex_Male   126.511463
11       marital status_Divorced     1.456540
12        marital status_Husband   673.531893
13  marital status_Never married   556.620501
14      marital status_Separated     9.749817
15        marital status_Widowed     0.066950
16           marital status_Wife    67.470942
17       gave birth this year_No     0.237784
18      gave birth this year_Yes    16.481382

In [151]:
# Calculate chi-squared statistics and p-values between each feature and the target class (**in pairs**)
chi2_stat, p_values = chi2(X_encoded, y)

feature_importance_df = pd.DataFrame({'Feature': X_encoded.columns, 'Chi-squared statistic': chi2_stat, 'P-value': [round(p, 6) for p in p_values]})
feature_importance_df = feature_importance_df.sort_values(by='Chi-squared statistic', ascending=False)

In [152]:
feature_importance_df

                         Feature  Chi-squared statistic   P-value
0                            age            3783.249409  0.000000
2                   workinghours            3098.182416  0.000000
12        marital status_Husband             673.531893  0.000000
13  marital status_Never married             556.620501  0.000000
1                      education             424.146521  0.000000
9                     sex_Female             253.022927  0.000000
4             occupation_encoded             146.337835  0.000000
10                      sex_Male             126.511463  0.000000
16           marital status_Wife              67.470942  0.000000
5         workclass_governmental              62.348295  0.000000
3       ability to speak english              31.502407  0.000000
7              workclass_private              17.983133  0.000022
18      gave birth this year_Yes              16.481382  0.000049
14      marital status_Separated               9.749817  0.001793
8        workclass_self employed               3.606871  0.057541
6         workclass_no paid work               3.282243  0.070033
11       marital status_Divorced               1.456540  0.227481
17       gave birth this year_No               0.237784  0.625811
15        marital status_Widowed               0.066950  0.795831

In [153]:
# Calculate mutual information between each feature and the target class
mutual_info = mutual_info_classif(X_encoded, y)

feature_importance_df = pd.DataFrame({'Feature': X_encoded.columns, 'Importance': mutual_info})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

In [154]:
feature_importance_df

                         Feature  Importance
4             occupation_encoded    0.074402
12        marital status_Husband    0.066158
1                      education    0.062681
0                            age    0.060331
2                   workinghours    0.056579
13  marital status_Never married    0.044264
9                     sex_Female    0.028438
10                      sex_Male    0.023676
16           marital status_Wife    0.012034
7              workclass_private    0.008940
8        workclass_self employed    0.006872
5         workclass_governmental    0.005265
17       gave birth this year_No    0.002245
6         workclass_no paid work    0.001455
11       marital status_Divorced    0.001189
3       ability to speak english    0.001150
14      marital status_Separated    0.000000
15        marital status_Widowed    0.000000
18      gave birth this year_Yes    0.000000

### General overview

In [155]:
from sklearn.feature_selection import SelectKBest, f_classif, mutual_info_classif, f_regression, mutual_info_regression

k = 5  

# Instantiate SelectKBest with different score functions
selector_chi2 = SelectKBest(score_func=chi2, k=k)
selector_f_classif = SelectKBest(score_func=f_classif, k=k)
selector_mutual_info_classif = SelectKBest(score_func=mutual_info_classif, k=k)
selector_f_regression = SelectKBest(score_func=f_regression, k=k)
selector_mutual_info_regression = SelectKBest(score_func=mutual_info_regression, k=k)

# Fit the selectors
selector_chi2.fit(X_encoded, y_encoded)
selector_f_classif.fit(X_encoded, y_encoded)
selector_mutual_info_classif.fit(X_encoded, y_encoded)
selector_f_regression.fit(X_encoded, y_encoded)
selector_mutual_info_regression.fit(X_encoded, y_encoded)

# Get the scores of selected features for each selector
feature_scores_chi2 = selector_chi2.scores_
feature_scores_f_classif = selector_f_classif.scores_
feature_scores_mutual_info_classif = selector_mutual_info_classif.scores_
feature_scores_f_regression = selector_f_regression.scores_
feature_scores_mutual_info_regression = selector_mutual_info_regression.scores_

feature_scores_df = pd.DataFrame({
    'Feature': X_encoded.columns,
    'Chi2_Score': feature_scores_chi2,
    'F_Classif_Score': feature_scores_f_classif,
    'Mutual_Info_Classif_Score': feature_scores_mutual_info_classif,
    'F_Regression_Score': feature_scores_f_regression,
    'Mutual_Info_Regression_Score': feature_scores_mutual_info_regression
}).sort_values(by='Chi2_Score', ascending=False)

In [156]:
feature_scores_df

,Feature,Chi2_Score,F_Classif_Score,Mutual_Info_Classif_Score,F_Regression_Score,Mutual_Info_Regression_Score
0,age,3783.249409,765.718737,0.063040,765.718737,0.063036
2,workinghours,3098.182416,856.916583,0.060910,856.916583,0.041347
12,marital status_Husband,673.531893,1278.987182,0.070667,1278.987182,0.050565
13,marital status_Never married,556.620501,827.111045,0.041923,827.111045,0.053603
1,education,424.146521,820.294121,0.063087,820.294121,0.078791
9,sex_Female,253.022927,396.156147,0.023843,396.156147,0.023791
4,occupation_encoded,146.337835,55.935957,0.089094,55.935957,0.069930
10,sex_Male,126.511463,396.156147,0.026528,396.156147,0.035687
16,marital status_Wife,67.470942,82.469760,0.001392,82.469760,0.001548
5,workclass_governmental,62.348295,74.576091,0.000000,74.576091,0.011557
3,ability to speak english,31.502407,15.482382,0.000000,15.482382,0.018769
7,workclass_private,17.983133,69.209182,0.013756,69.209182,0.005311
18,gave birth this year_Yes,16.481382,16.746560,0.012591,16.746560,0.000000
14,marital status_Separated,9.749817,9.935036,0.011723,9.935036,0.004397
8,workclass_self employed,3.606871,4.016963,0.002529,4.016963,0.000000
6,workclass_no paid work,3.282243,3.291491,0.000000,3.291491,0.009898
11,marital status_Divorced,1.456540,1.660337,0.000000,1.660337,0.000000
17,gave birth this year_No,0.237784,16.746560,0.003836,16.746560,0.004397
15,marital status_Widowed,0.066950,0.068363,0.000144,0.068363,0.005002

### Conclusion

Columns to use (possibly in order of importance): 'age', 'workinghours', 'education', 'marital status' (encoded), 'occupation' (encoded), 'workclass' (encoded)
Columns to exclude: 'sex' (maybe), 'ability to speak english', 'gave birth this year'