In [15]:
from helper_functions import load_dataset, save_dataset

### Loading the dataset

In [16]:
data = load_dataset("../../data/assignment2_income.xlsx")

In [17]:
data['ability to speak english'] = data['ability to speak english'].fillna(0)

In [18]:
data['gave birth this year'] = data['gave birth this year'].fillna('No')

In [19]:
data['age'] = data['age'].astype('int8') # in our dataset: min age is 17 and max age is 93
data['education'] = data['education'].astype('int8') # in our dataset: min education is 1 and max education is 24
data['workinghours'] = data['workinghours'].astype('int8') # in our dataset: min working hours is 1 and max working hours is 99
data['ability to speak english'] = data['ability to speak english'].astype('int8') # in our dataset: min number of 'ability to speak english' is 0 and max ability to speak english is 4

### Final step

In [24]:
data

,age,workclass,education,marital status,occupation,workinghours,sex,ability to speak english,gave birth this year,income
0,52,self employed,16,Widowed,Transport,50,Male,0,No,high
1,60,private,20,Divorced,Healthcare/Medical Services,30,Female,0,No,low
2,64,private,21,Divorced,Management/Business,40,Male,0,No,low
3,64,private,17,Husband,Transport,40,Male,0,No,low
4,31,private,15,Husband,Transport,40,Male,0,No,low
...,...,...,...,...,...,...,...,...,...,...
8995,28,private,16,Never married,Education,40,Female,0,No,low
8996,61,governmental,24,Wife,Education,40,Female,0,No,high
8997,34,governmental,23,Wife,Healthcare/Medical Services,50,Female,0,No,high
8998,60,private,19,Husband,Management/Business,40,Male,0,No,low
8999,50,private,20,Wife,Sales,30,Female,0,No,low

### Writing the cleaned dataset to a new file

In [25]:
# write cleaned dataset to new file
save_dataset(data, "../../data/assignment2_income_cleaned.xlsx")